out/
.idea/
*.exe
*.iml
sb3/build
sb3/target/**
sb3/.gradle
gcp-cloud-function/target
azure-functions/target
alibaba-function-compute/target
aws-lambda/target
oracle-cloud-fn/target
spring-cloud-function/target
tencent/target
heroku/target
ibm/target
kotlin/.gradle
kotlin/build
python/env
python/__pycache__/
docs/bible-niqqud.txt
