name: build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Project
        uses: actions/checkout@v4.1.7

      - name: Configure JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Java
        run: javac Pasuk.java && java Pasuk שחר # java.io.FileNotFoundException: c:\repos\heb-bible\bible.txt

#      - name: Configure HTML
#        run: sudo apt-get install lynx

#      - name: HTML
#        run: lynx -dump Pausk.html # site couldn't be found
        
      - name: Configure Node
        uses: actions/setup-node@v4

#      - name: JavaScript
#        run: node Pasuk.js

      - name: Configure Pascal
        uses: fabasoad/pascal-action@v1.1.3 # fpc
        id: pascal
        with:
          path: ERRATA.PAS
      - run: echo "${{ steps.pascal.outputs.result }}"


